#main-p {
  width: 100%;
  height: 100vh;
  background-color: #333;
}

#main {
  position: relative;
	width: 100%;
	height: 100vh;
	background-color: #6b0847ff;
}


#top {
  position: absolute;
  top: 0%;
	width: 100%;
	height: 50vh;
  background-color: #0eda15;
	background-color: #fff;
  overflow: hidden ;
}

#center {
  width: 100%;
	height: 100vh;
	background-color: #000;
}

#bottom {
	position: absolute ;
	bottom: 0%;
	width: 100%;
	height: 50vh;
	background-color: #1f29dcff;
	background-color: #fff;
	overflow: hidden ;
}


#main h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22vw ;
}

#top-h {
  bottom:50%;
}

#bottom-h {
  top:0 !important;
}